
uter {
  display:inline-block;
  width: 1000px;
  color: white;
  height:500px;
  border:1px solid black;
  position:relative;
  }
.curve{
  border:1px solid black;
  height: 450px;
  width:200px;
  position:absolute;
  display:inline-block;
  
  button {
    background:green
  }
  
}
.block{
  border:1px solid black;
  height: 450px;
  width:300px;
  margin:auto;
  z-index:-1;
  display:inline-block;
}
